[program:celery]
command={{ virtualenv_path }}/bin/celery -A worker worker
directory={{ application_path }}
environment=PATH="{{ virtualenv_path }}/bin"
user={{ user_name }}
group={{ user_name }}
autorestart=true
autostart={{ autostart | bool | lower }}
redirect_stderr=true
